.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.todo-list-container {
  width: 40%;
}

.start-column {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center-column {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.end-column {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
}

.black-mat-icon{
  color: black;
}

.task-done {
  text-decoration: line-through;
}

/* CHECKBOX STYLING */
.mat-checkbox{
  margin-right: 8px !important;
}

// Redefine Angular checkbox-checked color
::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3498db;
}
// Redefine ripple behavior of checkbox crossing
::ng-deep.mat-ripple-element {
  background: #3498db !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-expansion-panel {
  background-color: #b1ccdb;
}
