<div class="main-container">
  <div class="todo-list-container" *ngIf="allTodos$ | async as todos">

    <!-- FORM for New to-do creation -->
      <div [formGroup]="newTodoForm">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon mat-list-icon class="black-mat-icon">add</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Add a new todo
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput #title matInput autocomplete="off" required placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field>
              <input #description matInput autocomplete="off" placeholder="Description (optional)" formControlName="description">
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="primary" type="submit"
                      (click)="addTodo(title.value, description.value); newTodoForm.reset()"
                      [disabled]="newTodoForm.invalid">Create Todo</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    <!-- Display the complete todolist -->
    <div class="todo-item" *ngIf="allTodos$ | async as todos">
      <mat-list>
      <mat-list-item class="todo-item" *ngIf="todos.length === 0">
        <mat-icon class="start-column">announcement</mat-icon>
        <h4 class="center-column">Your todo list is currently empty, please add one !</h4>
      </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos">
          <!-- Checkboxes-->
          <mat-checkbox (change)="onToggleTodo(todo)" [checked]="todo.done" class="start-column"></mat-checkbox>
          <!-- TODOs Titles -->
          <h4 [ngClass]="todo.done ? 'task-done' : 'taskTodo'" class="center-column">{{ todo.title }}</h4>
          <!-- ICONS -->
          <!-- DETAIL a To-do -->
          <button mat-icon-button [routerLink]="['/todoDetail', todo.id]"><mat-icon class="black-mat-icon">pageview</mat-icon></button>
          <!-- EDIT a to-do -->
          <button mat-icon-button [routerLink]="['/todoEdit', todo.id]"><mat-icon class="black-mat-icon">edit</mat-icon></button>
          <!-- DELETE a to-do -->
          <button mat-icon-button (click)="deleteTodo(todo)"><mat-icon class="black-mat-icon">delete_forever</mat-icon></button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
