<div class="main-container">
  <div class="todo-edit-container">

    <form class="todo-item" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon class="black-mat-icon">title</mat-icon>
          <mat-form-field>
            <input matInput autocomplete="off"
                   placeholder="Title"
                   required
                   formControlName="title">
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon class="black-mat-icon">description</mat-icon>
          <mat-form-field>
          <input matInput autocomplete="off"
                 placeholder="Description (optional)"
                 formControlName="description">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <div class="button-wrapper">
        <button mat-raised-button color="warn" [routerLink]="['/todos']">Cancel</button>
        <button mat-raised-button type="submit" color="primary"
                [disabled]="todoForm.pristine || todoForm.invalid">Update</button>
      </div>
    </form>

  </div>

</div>
